html {
	--blue: #b7ebff;
	--black: #000;

	--blue1: #1779c4;

	--brand-primary: #000;
	--brand-secondary: #b7ebff;

	--primary: #000;
	--secondary: #fff;
	--background: #eee;
}

body.dark {
	--brand-primary: #b7ebff;
	--brand-secondary: #131516;

	--primary: #c8c3bc;
	--secondary: #202324;
	--background: #000;
}

html,
body {
	overflow-x: hidden;
}

body {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0;
	font-family: sans-serif;
	background-color: var(--brand-secondary);
	color: var(--primary);
	font-size: 18px;
}

h2 {
	color: var(--brand-primary);
	font-size: 28px;
}

p {
	line-height: 1.5;
	margin: 12px 0;
}

pre {
	background-color: var(--background);
	padding: 8px;
	font-size: 14px;
}

:not(pre)>code {
	font-size: 18px;
	white-space: pre-wrap;
	word-wrap: break-word;
}

a {
	color: var(--blue1);
}

a:hover {
	color: var(--blue);
}

md {
	max-width: 800px;
	height: auto;
	display: block;
	box-sizing: border-box;
	background-color: var(--secondary);
	padding-left: 20px;
	padding-right: 20px;
}

md,
nav div,
.mie-container>div,
#partners img {
	box-shadow: var(--blue) 0px 0px 50px;
}

ul {
	padding-inline-start: 20px;
}

main {
	position: fixed;
	top: 0;
	z-index: 0;
}

#topNav {
	display: flex;
	flex-direction: column;
	gap: 8px;
	position: fixed;
	top: 50%;
	translate: 0 -50%;
	z-index: 2;
}

.reel {
	z-index: 1;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	background-color: var(--background);
	padding: 16px;
	gap: 32px;
	margin-bottom: 12vh;
}

.minis {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 32px;
}

#reel0 {
	width: 0;
	background-color: unset;
	height: 100vh;
	margin-bottom: 0;
}

#reel1 {
	flex-direction: row;
	gap: 32px;
}

#reel3 code {
	font-size: 14px;
}

#reel4 {
	flex-flow: row wrap;
}

.minis.horiz {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: start;
	gap: 24px;
	width: 100%;
}

a {
	font-weight: bold;
	text-decoration: none;
}

#topNav .img {
	height: 128px;
	border-radius: 16px;
	background-size: contain;
	background-repeat: no-repeat;
}

#q5_home {
	display: flex;
	gap: 8px;
}

.q5js_logo {
	width: 128px;
	background-image: url('/q5js_logo.webp');
}

.dark .q5js_logo {
	background-image: url('/assets/q5js_logo-light.webp');
}

.q5js_brand {
	width: 256px;
	background-image: url('/q5js_brand.webp');
}

.dark .q5js_brand {
	background-image: url('/assets/q5js_brand-light.webp');
}

.nav-fixed #topNav .img {
	height: 64px;
}

.nav-fixed .q5js_logo {
	width: 64px;
}

.nav-fixed .q5js_brand {
	width: 128px;
}

.nav-fixed #controls {
	opacity: 0;
}

#topNav,
#topNav .img {
	transition: all 0.4s ease-in-out;
}

.nav-fixed #topNav {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	top: 0;
	padding: 16px;
	z-index: 1000;
	opacity: 1;
	translate: 0 0;
	max-width: 100%;
	transition: all 0.8s ease-in-out;
}

#navLinks {
	font-family: 'adobe-heiti-std', sans-serif;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 16px;
	padding: 16px;
	background-color: var(--brand-primary);
	border-radius: 16px;
	height: 48px;
	min-width: max-content;
}

#navLinks a {
	font-size: 22px;
	color: var(--brand-secondary);
}

#navLinks a:hover {
	scale: 1.1;
}

#partners {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	z-index: 1;
	gap: 16px;
}

#partners img {
	width: 220px;
	border-radius: 16px;
	border: 3px solid var(--blue);
	transition: all 0.1s ease-in-out;
}

#partners img:hover {
	scale: 1.05;
}

#partners #p5play_logo {
	height: 80%;
}

#scriptLink {
	width: 400px;
	background-color: var(--brand-secondary);
	color: var(--brand-primary);
	text-align: center;
	margin-top: 8px;
	margin-bottom: 6px;
	padding: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 16px;
	font-weight: bold;
	font-size: 13px;
	line-height: 1;
	resize: none;
	box-sizing: border-box;
	border: none;
	white-space: nowrap;
}

.mie {
	background-color: var(--secondary) !important;
	color: var(--primary) !important;
}

.mie * {
	border-color: var(--background) !important;
}

.ace_scroller,
.ace_active-line {
	background-color: var(--secondary) !important;
}

.mie .ace_cursor {
	border-color: var(--primary) !important;
}

#reel3 .minis>div {
	max-width: 480px;
}

#reel4 .minis,
#reel10 .minis {
	align-items: center;
}

#reel10 .minis {
	gap: 32px;
}

#small-mie {
	width: 350px;
}

#big-mie {
	width: 450px;
}

.minis md {
	max-width: 472px;
}

.btn {
	cursor: pointer;
}

#controls {
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;
	padding: 16px;
	align-items: center;
	gap: 16px;
	transition: opacity 0.5s ease-in-out;
}

#controls .btn {
	background-color: var(--brand-secondary);
	padding: 8px;
	border-radius: 8px;
}

#darkModeIcon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background-image: url('data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAFJElEQVRoQ+2ZW6gWVRTHzzG1NMtuFAZaWNrNWxKooBhGlBKhKdZD9BBZERVBVBKYRx+8awia2oUoXwSjsoguFD1YUklhpkklCkl5v4ulkvb/wQwuFjOz98yc74MDZ8Gfb/aetddea8/ee12+1pYOTq0dXP+WTgOSL9hTv2OEscJQYYBwlXCJcFrYK+xJfpfod317ffm6X2CUFHlSeEDoFanUm+KbFskbZKtqwEhJnpeseHASw7Baz88KR8oMKuItawCrvChZwS4llDgu3oeFj0qMiWItY8BtkviecHOU5PNMf+txgvBzyXFR7LEGjJa0j4XLcqTuUH9XoZ97f1RtDvcvUdpUYIoxAOU/F7hpPG1Xx3Rhs7BF6G4Yzun5XuGLCnpFDwkZcKskfZux8mfVt1iYKfwjcDjZ45aWqfFMtCYVGYsMuFgyfxAwwhIKo+z7SWcf/e4SLjBM+/XcXzhRUa/oYUUGLJeUp5ykk2rfI3xj+p/XMzeTpRfVWBitRQ3GPAPukMzvBXtVsqenCtxEln5S43bT8a+erxGO1dAremieARy8u52U+WpzYC1xKx0SrBy21uRoDWoyZhnA6m90cneqjR9g/1vCSH/LPKa+t2rqFT08y4A3NBolLBHrfJAh9SX1EVJYGqZGQ5xWllXegIvERNTY2zCz+jcKXJ2eXlXHc6aTc3KhcCZ6CWsyegPGSd5XTib7nv2fRe+o8xHzgpjn0po6lRruDZit0TOcBPzAthypHNhJ5t1uPV9bSoOazN6AdZJ3v5GJQ+JKZGtkEYf1UfPisJ6vqKlTqeHeAFbaRpufqH1fgUS2Fk4rJc4JMdOpUlrUYPYGHJCsK428t90K+6leUMcC1zlI7a01dCo11BvAytmIMst52QkIKz5zM5IukjY2hUIGzJUWLxdoQoaGJ+5meNbqmZCjKRTaQgR0Twc02aD3JPcp4a2JUElmGk7egF814y1m1tAhhpVD7P0EZ8NHqA0xxhtAuDDRzPSnnq8LzMyhJx/oYfjw5jcJDY9IvQGzNOkrTuEb1CbnLSLvD+BdKtgwoylf4E7N8rWbKSY5Gagx5MXEQSnhE/AhnzZE80So/wIoQDhwuZkU50YoneeNU1by4zanLJ6ZcmNTqxKrNOHjTpG8cNqyYfwmwdeNOA/ES9814ktk5QPDNdGPbrLf1R4ihEIEvhT5sq8fkWY+Ibzb3kbkpZTsW2o6lggZSGBCdJcYGG+dWzqG8JsztS8kJPZ9ngFkVaSVVNtS4lCyFWLqmw+KD2XtoU7lUGpZKawQQrdb0I6isorPthCWVVbJm4SKHn6F/wmyiEuButOXApWN3wS8N9uNjLCvcHWyYPRlUpEBOCYOHnvfEkY8JFArDRE+hKqdDTVCY/x7zs7rVQxgDPc7sY4Nseln9Qgf2oTQwaa2RNJD8u/lhIyhss1/EXj6TArVRhmEAD4zpUZPf6iDg/1hYlSRQihPqM2KXh/SXO+jfEiMAcw1QiCwy1tBnB3JD3ueinUe8TWoO1EY5ozk0V96wX8KePdCijUAIWwnYn1/JvwEfG5K7dww3DhcpxxGcmv+AOS5iLj9pggEkkEqYwDCONhzBHIEe8UGJ4pgoJbEuaIyEl1XKmtAqgd+AkPGRygWYuFCoBrCWcLjl6KqBqSTEHYQN5FC2gAwRomDYlojvCaQSFWiugakk1II4K6nsjdY4LyQVpIz48FJbKgxoSiRKdU/yvf/VdLaDGovA+rqUXl8pwGVl66dBv4PhL/YMX08LQkAAAAASUVORK5CYII=');
	background-size: 32px 32px;
}

body.dark #darkModeIcon {
	filter: invert(0.9);
	background-image: url('data: image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAHEElEQVRoQ9Wad+xlQxTHrd6JEiTKT++99xW9LHYRnZ/uD0QLEe0tCdFFic7TI6zVCcFq0Vms3h4irN53dd/Py51fzu+YO3fmxe8PJ/nm3Zl75sycKafMfcOm6I12ULMThRWEN4Wzhbbwd6a4YeLrF44WlhQmCKOFsZntB9gQVEo7qcEtgm97n+r2Ez5vEDiv3l8lbOX4UB7ZY0oG1IsCzNayNZ18pfqDhNtr3o9S/WXCXDXvkb38UCowh4R/ndHBrZUi31a8s+r3LOHAjLYol9NHV1TpCgxXm0czBgHLx8Lewq/C9cKime3o47FM3mIFDpXgC5zwlspHCsyyp7+qiikj735Q3bkC7S0dpsKFQ6XAlRLMQQ30czXwBfTbFpi9HHpaTHsJHwjfCzObRvRxQI4QeEq30PNqs5oRzkDWqcrIYvbOEKarGcDvqj9NOFX4s+JBxlqG/zk9rzkUCkwloSz7jEY4FuVg1xkWij2/sqt/XeU9hZddPTLs4Z6k8ixGwaQuJSuwlCThtCwdosLFkR6mUd3xwgkC+589fYzAgfaEDL/ncW7vJEdevcxRgAEsVs0eA7K0gQpPJDrasHqXsirri+dxJ4Mtxiq+LwRDEO3GKzCbuHAkywhshVWFlYSZIq3xnPiF73JmKsFDn/iL2GT+pvr3hBcFtuAbwrPCF0FeaLSjKlrVoHPH85EY+3KZG/g6er9QgSw8NuMdgwK499tqZiAl82693DbCMLXq2FoEevNV7z/V7yvCk0KwPrbpXSqMKFAAVnbAKBQYL6xY0JjZelW4RrjDtJtdz8cJ+wtsrRgRK10qnCn8aBi21/M+ldJ9BWMZjwKThZjd/kn1LBWDZfZeq55xPJ42U8VNwpyZnROx7iz4w0tzzgSrx1lkYnleTrDOLnQzCQVi0SVWoCUkLUAlhXgH78nWKSEOKN6Y0LyJsIQnCyc5xgkowADa7gWzj/XBjKUIM/mQgN3vhVj9jYRnGhoTCLLV/Sr0ByvEgdzGCcHFcxj/qBE+verfFhZ07/Gk7PObBcwexBbYXcDj+u2KmcRksyIxYmXZamu7l/eoPCIoQJbEXp/bMbFsp9QIPkL1RJOWOipsbQbum7Kn6Xh+96LOo8NG6urH8KXqOCMTrfMYqQqfSTH76woEWJ5Q2GZPv6iM43urRuFQzaFEnl0J4qNVIu1WV91Tgt+imP5u/uy9H6ax3wkiJkE4oXOgPj186Pgwjcc2DD68Pk8PhxtebDqO7BNTh/d/SVjCyWyrjMntkleApASTyQAt+ahzC7283/GgpI806/QhJCc0t7S5Cg+aikv07CPdjurYhkTFUQWoxLI8ItgsihnCU95btWMGrnYDYMbYRjkEL5bOEjLbVQXnCMNiJxiTjsUa5DtiAdR6YhonEP8H4iyQuIRZ21XPOC5LOKCBmWnQAq8dEv7Auosegk8glyBos3sfBTauxjYgPncLtdRitBnUcD375L4ptLY6MZOssiXfHgtIv5Y6KiS3UFsMODZLL6iADbb+gNkmpJ3WMLKlbL7sxAwqEuvvYWpwaJhwu62w //gim8LShDFGDzGmyd+K4ZQwjT4TQxCHmMMciCiTmU0lOPBuKjwg2DNWF9kuLT5ygRncbPzLjOLICNb8jRnO6nzXOBQ30QNhhKVvVOB60G+PwLOlHvDQrKCl1PbD3GJ2LQ1yZJwDZoCTb4k9ziBTAR1WKXbHyc3cjQJZFPIJJQjcCJv9uWPVSajqiJV6WBjuGAZCiX69wIFZwprgMcm6UsSKYS0WaeCre00sxZVKU1qKk8Pz+8uzbjDHLJEDW8LiEH/khNOLi4/Z8B6zSSfCeHxLp4lR71kFYqKW4+2G03UJDaEDneCZ0T4kNLHZwq5zNbJb1VlqTBz2tsD5sllZaBMuFtgBTQnN5F5SSrYVCmE2bUrJAMghcP/kyiEfDgMjL75TIERgYixtp8K+AoPuS2nv3nVTSqJQDlLMK6dkkYjTcYyQNY9R4jM9TxTqvuCgWOyCINU/skaGQfPJqCVgLXKpI8aFc5kb+IhsS2ae7YynHutn/X97sZWaICwAOSkXs1gCS1wLctdTRzlXiwSP3nv3fLWYUgQzid22NFSXu/T1bs72LDm4rAQOzt6T1l2v3yA+LJKl3Ov18NEkxwcVWx687hpmVFyHhNsCJuO/+MBBH/aDR3IhSlYAQVcIXB0Gsp+YrlVl2PNNq5/6xHS5GvOpNotKFYh95CPs4CMfX1U89fKRjz4uyhq9mEoVYIbHZQrHY/cLfJW5TuAjSQ6VZHbFChDzEPM3Kd7rh+7ijyZNA4nN2FD+1QAPSzyUTb0oQNjBDPu2JDcc8Jw/e3Cb7RMoZp/Epu5/FlGlelEAQWRWxCJ8TeQG+xwBK1QXrPnO6ZcM7SiBZAgfcbrgo9vGlfgHX0uAzoLdaa4AAAAASUVORK5CYII=');
}

#fullscreenIcon {
	display: inline-block;
	vertical-align: middle;
	width: 32px;
	height: 32px;
	background-image: url('data: image/webp;base64,UklGRrwDAABXRUJQVlA4TLADAAAvP8APEP8FOZIkRZJn1uBveVd/VQ9FcNw2kiNHWdWz7rfnz3HbSI4cZVXPut+ePzduIzmSatZG9 //XXX6R9zfTSgBxg/9FQYhK8kJB/CHEGQMDfsMHfmHAJMBv+OGYRBQKfkPhgHyhIWhJThgQolAQQhQKhZ4EiILYEARTkidM0nFet+2SZEpSy1ogSWrb9+/MiGeSfVkry1qvtmBq25OQhCS03ZKAH2zLzJAkSUwi5iSjLUjbzMxYty1JppnpbVm3DUzLWqMtMwOmmeltp5lxZqotSFvP6wINSTLatra2dWbY9p2ZSZIkIQlJgElAZoaZsa3bvmc/Dtra1uM8SUISZoZlLZa1WNbivC4u953P/+/j/QaBtGvb00hJ1t3dvbPpLu7u7u42i8uwOCyLu7szOKO425v/ttu8yVscvkT0H4LbNpIkxZ778MxstpMvyD+EYrf9wYBa0XfMMNubKBIt6H/EUK4v6WkJrPqvumXC/dUD0GgNfdBsbHEq11S61+AiW55ByAa9uba6gwEDKdnuWm4A/fXYUZWg4G5cWZauRQRUAggZjbYQoqv3gTSoJ95uQgjbSqMRP+74y0D0g+kLvYsGXp2YEmMIpiMgCQW7J8eaXsE0/jAQ3DY5hhPId/5hxU04CGTnlZphz1Q08QBQvbLJkEuzMx25YiftB5oX3hFmiKcwJ8upyW1AMguYEpAwL9uRLWbKIT3HMEs9IdtxJSQlm5/j1GDtGQxHjOVEQg1Aeo0tyHXkq2wFjVurVKM50Z5Ceo0tzO+kzKfDV6YYz4n3FNJrrKWwg+YruivXenDO8xcyg5xK2I+fGPYt1Ff3Wa+/eUPf6rqlDM9J6a6T7adNXuhU+1GQrhWYhvl/UsAM04BrfN66aScYXNrn23yTMne9/8hULs+tLW5cy7Re16u0Yuh2QHPqZqp+6hx1Y3oq59xzRsfXQZzzmKm7AM2Jz1TI/+GrY1J4ByUbNWewt5YrQnNiMxVyHLg4Opl3UrNNd/cFD1eF5VSJ2uocdX6k00ljtTezNYWIkJz64yacG5HkSJc87KHBL7uiAFHQ9LgbPjvc6ZQR96SkaE/EEHvHsERHstRRj6WkaYtthmdIgiNX2pgXUhI1zTIjU/HYt1JSFZtGmdvSZ3yRki5OIGPWNylpKqTOvbNeP6ftHc+gJZ9GkW2T946mchOCgru6dyAEVfzW99k7LD/S1X2/z97RBd8pvsfekb5IM3cJtbR7h1vZ2DtsJ9TsHbRsfwYlAQ==');
	background-size: 32px 32px;
}

body.dark #fullscreenIcon {
	filter: invert(0.9);
}

footer {
	z-index: 1;
}

.mie-container {
	display: flex;
	align-items: center;
	gap: 12px;
}

.mie-code {
	width: 256px;
}

.mie-output {
	display: flex;
	align-items: center;
}

.iPadShowKeyboard {
	display: none;
}

@media screen and (max-width: 1000px) {
	.reel {
		padding-left: 0;
		padding-right: 0;
	}

	#reel1 {
		flex-direction: column;
	}

	.minis md {
		max-width: 100%;
	}
}

@media screen and (max-width: 616px) {
	.nav-fixed #topNav {
		justify-content: start;
	}

	.nav-fixed #navLinks,
	#scriptLink {
		display: none;
	}
}

@media screen and (max-width: 400px) {
	#topNav {
		width: 92vw;
		gap: 2vw;
	}

	#navLinks {
		flex-direction: column;
		height: fit-content;
	}

	body:not(.nav-fixed) #topNav .q5js_logo {
		width: 30vw;
		height: 30vw;
	}

	body:not(.nav-fixed) #topNav .q5js_brand {
		width: 60vw;
		height: 30vw;
	}

	.nav-fixed #topNav {
		justify-content: center;
	}

	#reel0 textarea {
		font-size: 10px;
	}

	#partners a {
		width: 32%;
	}

	#partners img {
		width: 100%;
	}
}

@media screen and (max-width: 384px) {
	#reel1 .mie {
		width: 240px !important;
	}
}

@media screen and (max-width: 320px) {
	#reel0 textarea {
		font-size: 9px;
	}
}
